{% extends 'layout.html' %}
{% block content %}
    <div id="logcontent">
        <form id="logform" method='POST' action="">
            {{ form.hidden_tag() }}
            <legend id="logsubheader"><span class="border-bottom">Password Reset Request</span></legend>
            <fieldset>
                <div class="form-group">
                    {{ form.email.label() }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="button">
                    {{ form.submit(id='logsubtn', class="btn border-rounded clsbtn") }}
                </div>
            </fieldset>
            <div class="mt-4">
                <span class="border-top">
                    <small class="text-muted">Remembered account login details? <a href="{{ url_for('login') }}">Login</a></small>
                </span>
            </div>
        </form>
    </div>
{% endblock content %}